{% extends "Front1/base.html" %}
{% block start %}
<style>
/* Your CSS file */
.canceled-status {
    color: red;
}

.delivered-status {
    color: rgb(11, 128, 0);
}

.processing-status {
    color: rgb(59, 24, 255);
}
</style>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Order List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- View order List -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Order</span> List</h3>
					</div>
				</div>
			</div>

			<div class="row">
				{% if orders %}
				{% for order in orders %}
				<div class="col-lg-12 col-md-6">
					<h3><a href="">Order Id #{{ order.id }}</a></h3>
					<div class="single-latest-news">
						<div class="news-text-box">
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> {{ order.user.username }}</span>
								<span class="date"><i class="fas fa-calendar"></i> {{ order.created_at|date:"F j, Y" }}</span>
							</p>
							<p class="excerpt"> 
								<h3>Order Items</h3>
								<ul>
								  {% for order_item in order.orderitem_set.all %}
									<li>
									<img src="{{order_item.product.img.url}}" style="width: 50px; height: 50px;">
									  {{ order_item.quantity }} x {{ order_item.product.fname }} - &#8377;{{ order_item.price }}
									</li>
									{% endfor %}
								</ul>
								<h4>Total Price:  ₹ {{order.total_price}}</h4>
							</p>
							<a href="javscript:void(0)" class="read-more-btn">
								Order Status
								<i class="fas fa-angle-right"></i>
								<span class="{% if order.status == 'Canceled' %}canceled-status{% elif order.status == 'Delivered' %}delivered-status{% elif order.status == 'Processing' %}processing-status{% endif %}">
									{{ order.get_status_display }}
								</span>
							</a>
							{% if order.status == 'Pending' or order.status == 'Processing' %}
							<form method="post" action="{% url 'cancel_order' order_id=order.id %}">
								{% csrf_token %}
								<button type="submit" class="btn btn-danger">Cancel Order</button>
							  </form>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				  <h1>No orders available.</h1>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- end latest news -->
{% endblock %}
