{% extends "Front1/base.html" %}
{% block start %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Order Successfully!!!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
<div class="container mt-5">
    <h2 style="text-align: center;">Your order has been placed successfully!!!</h2>
    
</div>

{% endblock %}
