<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="shortcut icon" type="image/png" href="/static/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/static/assets/css/styles.min.css" />
  <style>
    body{
        background: url('/static/assets/images/backgrounds/login.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        text-align: center; 
        color: rgb(93, 184, 1);
        
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                {% if messages %}
                <div class="alert alert-info">
                  {% for message in messages %}
                  {{message}}
                  {% endfor %}
                </div>
                {% endif %}
                <h1>CANTEEN</h1>
                <form method="post">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">Sign In</button>
                  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>